window_mouse_queue-for-GMS1/*

window_mouse_queue-for-GMS2/*
!window_mouse_queue-for-GMS2/assetpackage.yy

window_mouse_queue-for-GMS2.3+/*
!window_mouse_queue-for-GMS2.3+/window_mouse_queue_23.yyp
!window_mouse_queue-for-GMS2.3+/metadata.json