.vs/
*/#backups/*
*/Configs/*/*

*/extensions/*/*.cpp
*/extensions/*/*.dll
*/datafiles/window_mouse_queue.html

window_mouse_queue_gmk/*.cpp
window_mouse_queue_gmk/*.dll
window_mouse_queue_gmk/window_mouse_queue.html

*/Debug/
*/Release/
Debug/
Release/
export/*.gmz
export/*.gmez
export/*.yyz
export/*.yymp
export/*.yymps
export/*.png
export/*.zip

*.sdf
help.rtf